<!DOCTYPE html>
<html>
<head>
    <title>用户管理</title>
    <link href="/css/bootstrap.css" rel="stylesheet"/>
    <link href="/css/font-awesome.css" rel="stylesheet"/>
    <link href="/css/common/reset.css" rel="stylesheet"/>
    <link href="/css/common/common.css" rel="stylesheet"/>
    <link href="/css/backend/base.css" rel="stylesheet"/>
##    <link href="/css/menu/menu.css" rel="stylesheet"/>
    <link href="/css/bootstrap-datetimepicker.css" rel="stylesheet" media="screen">
</head>
<body>
    #parse("vm-backend/backend_share/nav.vm")
<div class="container-fluid" style="margin-top:80px;">
    <div class="row">
        #parse("vm-backend/backend_share/left_nav.vm")
        <div class="col-md-10">
            <div class="row">
                <div class="col-xs-12">
                    <form class="form-inline" role="form" action="">
                        <fieldset>
                            <div class="form-group col-xs-3">
                                <label for="userName">用户名：</label>
                                <input type="text" name="userName" class="form-control" id="userName"
                                       placeholder="用户名">
                            </div>
                            <div class="form-group col-xs-3">
                                <label>用户角色：</label>
                                <select class="form-control" name="userRole">
                                    ## 注意第一个option 这个value可以不写的，写了后台的动态sql就要做判断的哦！
                                    <option value="">请选择</option>
                                    <option value="超级管理员">超级管理员</option>
                                    <option value="普通用户">普通用户</option>
                                </select>
                            </div>
                            <div class="form-group col-xs-3">
                                <button class="btn btn-info"><i class="icon-search"></i> 查询</button>
                                <button type="reset" class="btn btn-warning"><i class="icon-share-alt"></i> 重置</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="row" style="margin-top:20px;">
                <div class="col-xs-12">
                    <table class="table table-bordered">
                        <tr style="background: rgb(245, 245, 245);">
                            <td style="width: 30px; text-align: center;">#
                            </td>
                            <th>id</th>
                            <th>用户名</th>
                            <th>角色</th>
                            <th>用户的最后访问ip</th>
                            <th>用户的最后访问时间</th>
                            <th>此用户的创建时间</th>
                        </tr>
                        #foreach($!user in $!users)
                            <tr>
                                <td style="width: 30px; text-align: center;">
                                    <input class="active" type="checkbox">
                                </td>
                                <td>$user.userId</td>
                                <td>$user.userName</td>
                                <td>$!user.userRole</td>
                                <td>$!user.lastIp</td>
                                <td>$!tools.getDateTime($user.lastVisit)</td>   ## 此处要做转换哦！
                                <td>$!tools.getDateTime($user.createTime)</td>
                            </tr>
                        #end
                    </table>
                </div>
            </div>
            #parse("/share/page.vm")
        </div>
    </div>

    <input type="hidden" id="saveUrl" value="$!R.ajax_saveGL"/>   ## 创建
    <input type="hidden" id="editUrl" value="$!R.EditGL"/>   ## 编辑页面
    <input type="hidden" id="deleteUrl" value="$!R.ajax_deleteGL"/>
</div>

<script src="/js/jquery-2.0.0.js"></script>
<script src="/js/guidelines/modifyGL.js"></script>
<script src="/js/guidelines/deleteGL.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript">
    $('.form_date').datetimepicker({
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 0,
        forceParse: 0,
        pickerPosition: "bottom-left"
    });

    // 激活侧边栏
    $(function () {
        $(".nav-sidebar").children().eq(4).addClass("active").siblings().removeClass("active");
    })
</script>
</html>