<!DOCTYPE html>
<html>
<head>
    <title>模块创建</title>
    <link href="/css/bootstrap.css" rel="stylesheet"/>
    <link href="/css/font-awesome.css" rel="stylesheet"/>
    <link href="/css/common/common.css" rel="stylesheet"/>
    <link href="/css/backend/base.css" rel="stylesheet"/>
    <style>
        #news-thumbnail {
            margin-top: 15px;
            margin-left: 80px;
        }

        #btn-group {
            margin-left: 80px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <input type="hidden" id="toListUrl" value="$!R.memoList"/>
    <ul class="breadcrumb">
        <li><a href="$!R.memoList">备忘录管理</a> <span class="divider"></span></li>
        <li class="active">编辑备忘</li>
    </ul>
    <div class="row">
        <form class="form-inline" id="saveFrom">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="title">备忘录标题:</label>
                    <input type="text" size="100" class="form-control" name="title" value="$memo.title" id="title">
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="content">备忘录内容:</label>
                    <input type="text" size="100" class="form-control" name="content" value="$memo.content"
                           id="content">
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="title">备忘录类型:</label>
                    <select class="form-control" name="type">
                        <option value="">请选择</option>
                        <option value="周目标">周目标</option>
                        <option value="月目标">月目标</option>
                        <option value="年目标">年目标</option>
                        <option value="待分配目标">待分配目标</option>
                    </select>
                </div>
                <div class="form-group" style="margin-left:40px;">
                    <label for="">优先级别:</label>
                    <input type="text" size="" class="form-control" name="level" value="$memo.level"
                           id="">
                </div>
            </div>
    </div>
    <div class="col-xs-12" id="btn-group">
        <div class="form-group">
        ## 先用ajax提交哦，之前王工遇到的：type=“submit”是用表单提交哦
            <button type="button" class="btn btn-success" onclick="saveMemo(2)"><i class=" icon-plus-sign"></i>
                保存
            </button>
            <button type="reset" class="btn btn-info"><i class="icon-reply"></i> 重置</button>
        </div>
    </div>
    </form>
</div>
</div>
<input type="text" value="$R.ajax_saveMemo" id="saveUrl"/>   ##保存url

<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/memo/editMemo.js"></script>
<script src="/js/common/addModify.js"></script>

</body>
</html>