<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>面朝大海，春暖花开</title>
    <link rel="stylesheet" href="../css/bootstrap.css"/>
    <link href="/css/font-awesome.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../css/memo.css"/>
    <link rel="stylesheet" href="../css/common/reset.css">
    <link rel="stylesheet" href="../css/common/common.css">
</head>
<body>
    #parse("/share/nav.vm")
<div class="container" style="margin-top:80px;">
    <div class="row">
        <div class="col-xs-2" style="text-align:center;">
            <!-- Nav tabs -->
            <ul class="nav navbar-left" role="tablist">
                <li role="presentation" onclick="href(1)">
                    <a href="" data-toggle="tab">周目标</a>    ## 不添加data-toggle="tab"这个就不行哦
                </li>
                <li role="presentation" onclick="href(2)">
                    <a href="" data-toggle="tab">月目标</a>
                </li>
                <li role="presentation" onclick="href(3)">
                    <a href="" data-toggle="tab">年目标</a>
                </li>
                <li role="presentation" class="active" onclick="href(4)">
                    <a href="" data-toggle="tab">待分配目标</a>
                </li>
            </ul>
        </div>
        <div class="col-xs-10">
            <!-- Tab panes -->
            <div class="">
                <div role="" class="tab-pane active" id="">
                    <div class="row">
                        #foreach($danger in $dangers)
                            <div class="col-xs-4">
                                <div class="panel panel-danger">
                                    <div class="panel-heading">
                                        $danger.title
                                        <span class="label label-danger">$danger.level</span>
                                    </div>
                                    <div class="panel-body">
                                        $danger.content
                                    </div>
                                    <div class="panel-footer">
                                        <span>创建时间：$tools.getDateTime(${danger.createTime})</span>
                                        #if($danger.finishTime)
                                            <span style="float:right;">完成时间：$tools.getDateTime(${danger.finishTime})</span>
                                        #else
                                            <button type="button"><span class="icon-warning-sign"></span>待完成</button>
                                        #end
                                    </div>
                                </div>
                            </div>
                        #end
                    </div>
                    <div class="row">
                        #foreach($memo in $memos)
                            <div class="col-xs-4">
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        $memo.title
                                        <span class="label label-warning">$memo.level</span>
                                    </div>
                                    <div class="panel-body">
                                        $memo.content
                                    </div>
                                    <div class="panel-footer">
                                        <span>创建时间：$tools.getDateTime(${memo.createTime})</span>
                                        #if($memo.finishTime)
                                            <span style="float:right;">完成时间：$tools.getDateTime(${memo.finishTime})</span>
                                        #else
                                            <button type="button"><span class="icon-warning-sign"></span>待完成</button>
                                        #end
                                    </div>
                                </div>
                            </div>
                        #end
                    </div>
                </div>
            </div>
            <nav>
                <ul class="pager">
                    <li class="previous"><a href="#">&larr; 上一页</a></li>
                    <li class="next"><a href="#">下一页 &rarr;</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>


<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="../js/bootstrap.js"></script>
<script>
    $(function () {
        $("#navbar li:eq(4) a").css('color', '#FFA549');
    })
    function href(typeId) {
        window.location.href = "$R.Memo?typeId=" + typeId;
    }
</script>

</body>
</html>