body{
    background:#F5F5D5;
    font-family: "华文新魏";
    font-size:16px;
}
.panel-heading .panel-title{
    text-align:center;
    font-size:1.4em;
}
.panel-body p{
    font-size:1.1em;
    line-height:1.6em;
    letter-spacing:0.3em;
}
nav .center-block{
    text-align:center;
}
nav .center-block li{
   display:inline-block;
}
nav .center-block li{
    margin-left:40px;
    margin-right:40px;
}
